.project-container{
    background-color: rgb(240, 240, 240);

    padding: 20px;
    margin-bottom: 50px; 

}

.project-container > *{
    margin-top: 40px;
}

.project-container h2 {
    margin-bottom: 20px;
    margin-top: 10px;
}


.project-container p {
    margin-bottom: 20px;
}


.project-body{
    min-height: 70vh;
    width: 95%;
    justify-content: center;
}

.project-body > *{
border: 1px solid rebeccapurple;
width: 50%;
min-height: 100px;
margin-top: 10px;
padding-top: 20px;
padding-bottom: 20px;
margin-left: 2.5%;
box-shadow: 11px 11px 14px -16px rgba(0,0,0,0.75);
}

.project-image-fig{
  margin-top: 30px;
}

.project-image-fig button{
    position: relative;

}
.project-image-fig button{
    position: absolute;
    left: 85%;
    margin-top: 2%;
    z-index: 10;


    background-color: rgba(255, 255, 255, 0.671);
    border: 1px solid black;
    padding: 3px 5px;
    border-radius: 3px;
}
.project-image-fig button:hover{
 
    color:  rgba(255, 255, 255, 0.671);
    background-color:  rgba(0, 0, 0, 0.671);

}

